<div class="container mt-5">
  <h2>
    Insurances
    <a class="float-right" [routerLink]="['/insurance/add']">
      <button type="button" class="btn btn-primary disabled">Add</button>
    </a>
  </h2>
  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>InsuranceID</th>
        <th>Name</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index;">
        <td width="20">{{item.insuranceID}}</td>
        <td>{{item.name}}</td>
        <td>{{item.amount}}</td>
        <td width="250">
          <button type="button" class="btn btn-danger mr-1 disabled" (click)="deleteInsurance(item.InsuranceID, i)">Delete</button>
          <a [routerLink]="['/insurance/edit/', item.InsuranceID]">
            <button type="button" class="btn btn-primary disabled">Edit</button>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
-
